<!DOCTYPE HTML>
<html>
<head>
    <title>USER MOVIES</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
<body>
<section id="one" class="wrapper style2">
    {% if movies %}
    {% for movie in movies %}
    <div class="inner">
        <div class="grid-style">
            <div>
                <div class="box">
                    <div class="content">
                        <header class="align-center">
                            <div class="cover-image">
            <img src="{{ movie.cover_image }}" alt="Movie Cover" />
        </div>
                            <h2>{{ movie.movie_title }}</h2>
                            <h1> Release Year: {{ movie.publication_year }}</h1>
                            <h1> IMB Rating: {{ movie.movie_rating }}</h1>
                        </header>
                        <footer class="align-center">
                            <form action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.movie_id) }}"
                                  method="POST">
                                <button type="submit" class="button alt">DELETE</button>
                            </form>
                            <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie.movie_id) }}"
                               class="button alt">EDIT</a>
                            <a href="{{ url_for('add_review', movie_id=movie.movie_id, user_id=user_id) }}" class="button">Write a Review</a>

                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="inner">
        <p>No movies available for this user.</p>
        <footer class="align-center">
            <a href="{{ url_for('add_movie', user_id=user_id) }}" class="button alt">ADD MOVIE</a>
        </footer>
    </div>
    {% endif %}
</section>

<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>
